@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');

/* common css style start*/
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}
body{
    background-color: #221f1fb0;
}
/* common css style end*/

/* main css style start */
.box{
    
}
.container{
    width: 65%;
    height: 450px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 20PX auto;
    box-shadow: 20px 20px 20px rgba(31, 29, 29, 0.452);
    box-sizing: border-box;
}
.select-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    box-sizing: border-box;
    gap: 9px;
}
.select{
    width: 31.6%;
    height: 31.6%;
    flex-grow: 1;
    font-size: 40px;
    background-color: #e67e22;
    border: none;
    border-radius: 10px;
}

/* reset button style start */
.reset-button{
    margin: 10px;
    text-align: center;
}
.resetBtn{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: #e74c3c;
    font-size: 18px;
    box-shadow: 20px 20px 20px rgba(31, 29, 29, 0.452);
    color: #fff;
    transition: 0.5s;
}
.resetBtn:hover{
    transform: scale(1.1);
}
/* reset button style end */

/* Wining box start */
.wining-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
.wining-box h3{
    font-size: 40px;
    font-weight: 900;
    background: linear-gradient(135deg,#ff00d2,#fed90f,#00a2ff,#ff00d2,#ff00d2,#fed90f,#00a2ff,#ff00d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    text-shadow: 20px 20px 20px rgba(31, 29, 29, 0.452);
}
.newGameBtn{
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #e74c3c;
    color: #fff;
    box-shadow: 20px 20px 20px rgba(31, 29, 29, 0.452);
    transition: 0.5s;
}
.newGameBtn:hover{
    transform: scale(1.1);
}
/* Wining box end */

/* faild box start */
.faild-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
.faild-box h3{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
    text-shadow: 20px 20px 20px rgba(31, 29, 29, 0.452);
}
/* faild box end */

/* main css style end */
